<div class="container">
  <h1>All restaurants </h1>
<% @restaurants.each do |restaurant| %>
<li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
<button type="button" class="btn btn-warning">
  <%= link_to "Add a new restaurant", new_restaurant_path %>
</button>

</div>
